.container-c
{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    background: #08022A;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container-c .card-c .content-c{

    position: relative; 
    display: flex; 
    justify-content: center;  
    align-items: center; 
    flex-direction: column; 
    transition: 0.5s;
    cursor: pointer;
}

.container-c .card-c:hover .content-c{
    opacity: 1;
    transform: translateY(-20px);
}


.container-c .card-c .content-c .imgOut-c img{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 180px; 
    border-radius: 50%;
    opacity: 1; 
}


.container-c .card-c .content-c .contentBx-c{
    text-align: center; 
}
.container-c .card-c .content-c .contentBx-c  h3{
    color:#fff;
    text-transform: uppercase;
    Letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center; 
    margin: 20px 0 10px;
    line-height: 1.1em;
}


.container-c .card-c .content-c .imgBx-c {
    position: relative; 
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
}

.container-c .card-c .content-c .imgBx-c img{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

@media (max-width:629px) {
   
    .container-c .card-c .content-c .imgBx-c{
        margin-bottom: 30px;
        width: 100px;
        height: 100px;
    }
}
