.nav-bar{
    width: 100%;  
    top: 0;
    position: fixed;
    margin: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0.5px 10px lightgrey;
}
.nav-bar-logo{
    width: 30%;
    padding-left: 10px;
    padding-top: 0.5vw;
    position: relative;
    float: left;
}
.nav-bar-list {
    position: relative;
    list-style-type: none;
    display: flex;
    float: right;
    font-weight: 600;
    font-size: 1.5vw;
    margin: 0;
}
ul.nav-bar-list a{
    padding:1vw 1.5vw;
    color: gray;
    text-decoration: none;
}