#main-team{
    max-width: 100%;
    margin:140vw auto 8vw;
    position: absolute;
    align-items: center;
    z-index: -1;
    padding-top: 25px;
    padding-bottom: 25px;
}
.team-content-heading{
    color: grey;
    font-size: 3.5vw;
}
.team-content{
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.team-content-image{
    max-width: 30%;
    object-fit: contain;
    padding:0 5vw 0 5vw;
}
.team-content-text{
    max-width: 35%;
    font-size: 2.5vw;
    padding:0vw 5vw 0 5vw;
}

.text-button-team{
    margin: 0;
    border: none;
    background-color: grey;
    color: white;
    padding:1vw ;
    width: auto;
    font-size: 2vw;
    font-weight: 100;
    border-radius: 1vw;
}
.text-button-team:hover {
    background-color:blue;
    cursor: pointer;
}